<!DOCTYPE html>

<head>
	<title>Aquí la fecha</title>
<style type="text/css">
	
	h1 {
		
		color: green;
	}
	
	</style>
</head>

<body>
 		<form action="/parametros/pasarParametros" method="get">
 			
 			Nombre: <input type="text" name="nombre" />
 			Apellidos <input type="text" name="apellidos" />
 			<input type="submit" value="Púlsame">	
		</form>
</body>
</html>