<!DOCTYPE html>

<head>
	<title>Aquí la fecha</title>
<style type="text/css">
	
	h1 {
		
		color: green;
	}
	
	</style>
</head>

<body>
	<h1>
		<%=@saludo%>			
	</h1>
	
	<p><%=@cositas%></p>
</body>
</html>
