<!DOCTYPE html>

<head>
	<title>Logeate</title>
<style type="text/css">
	
	h1 {
		
		color: green;
	}
	
	</style>
</head>

<body>

	<form action="/Calculadora/resultado" method="get">
		
			Primer número <input type="number" name="op1"/> </br>
			Segundo número <input type="number" name="op2"> </br>
 			<select name="operacion" multiple>
  				<option value="suma">Sumar</option>
 				<option value="resta">Restar</option>
  				<option value="multiplica">Multiplicar</option>
  				<option value="divide">Dividir</option>
			</select>
			
			<input type="submit" value="Calcula!">
 	
		</form>


</body>
</html>