<!DOCTYPE html>

<head>
	<title>Logeate</title>
<style type="text/css">
	
	h1 {
		
		color: green;
	}
	
	</style>
</head>

<body>

	<h1> <%=@resultado%></h1>

	 </br>

		<a href="index">Volver a la calculadora</a>

</body>
</html>


