<h2>Sección de búsqueda de la tienda</h2>
<form action="/tienda/searchByYear">
	Busca por año: <input type="text" name="year"><br />
	<input type="submit" value="¡Buscar!">
</form>
<form action="/tienda/searchByArtist">
	Busca por artista: <input type="text" name="artista"><br />
	<input type="submit" value="¡Buscar!">
</form>


<% if @encontrados != nil %>
	<table>
		<tr>
			<th>ID</th>
			<th>Artista</th>
			<th>Album</th>
			<th>Año</th>
		</tr>
		<% for encontrado in @encontrados %>
		<tr>
			<td><%= encontrado.id %></td>
			<td><%= encontrado.artista%></td>
			<td><%= encontrado.album%></td>
			<td><%= encontrado.year%></td>
		</tr>
		<% end %>
	</table>

<% end %>