<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.aptana.ruby.debug.core.launchConfigurationType">
<stringAttribute key="com.aptana.ruby.debug.ATTR_FILE_NAME" value="C:\Users\Arranque 1\Documents\Aptana Studio 3 Workspace\CursoRuby\src\_05_modulos\MainColores.rb"/>
<stringAttribute key="com.aptana.ruby.debug.ATTR_WORKING_DIR" value="C:\Users\Arranque 1\Documents\Aptana Studio 3 Workspace\CursoRuby\src\_05_modulos"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="com.aptana.ruby.debug.core.sourceLocator"/>
</launchConfiguration>
