<!DOCTYPE html>

<head>
	<title>Aquí la fecha</title>
<style type="text/css">
	
	span {
		
		color: green;
	}
	
	</style>
</head>

<body>
	<h1>
		<%=@fecha%>
				
	</h1>
	<h2>
		<%=@fecha2%>
	</h2>
	
</body>
</html>
