<!DOCTYPE html>
<head>
	<title>Prueba de Despedir</title>
	<style>
		h1 {
			color:red;
		}
		
		p {
			font-size: 15px;
			color: blue;
		}
	</style>
</head>

<body>
<h1>Esto es una prueba de despedir </h1>
<p> <%=@despido%></p>
</body>
</html>
