<!DOCTYPE html>
<html>
<head>
  <title>Musica</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Bienvenidos a la tienda musical de la leche</h1>
<%= yield %>
<footer> &copy; 2016 - La tienda musical de la leche
</body>
</html>
