<!DOCTYPE html>
<html>
<head>
  <title>Videoclub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Bienvenido a tu Videoclub favorito</h1>
<%= yield %>
<footer>&copy; Todos mis derechos reservados</footer>
</body>
</html>
