<!DOCTYPE html>
<html>
<head>
  <title>Ejercicio Clientes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<footer> &copy; Todos los derechos reservados para mi -- 2016 niggi</footer>
</body>
</html>
