<!DOCTYPE html>

<head>
  <title>Pizzeria</title>
<style type="text/css">
  
  * {
  	
  	margin: 10px;
  }
  
  h1 {
    
    color: green;
  }
  
  select {
  	width: 100px;
  	height: 100px;
  }
  
  </style>
</head>

<body>
	<h1>Bienvenido a tu pizzeria favorita</h1>
  <h2>A continuación puedes realizar tu pedido </h2>
  
  <form>
  		
  		
  		<input type="submit" value="¡Pedir!" formaction="/pedidoPizza/procesado"/>
  		
  		
  		
  </form>
</html>
